.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width:600px;
    margin-bottom: 15px;
}

.scorecard{
    background: linear-gradient(to right,#e55998,#bd6ae5);
    padding:5px 10px;
    border-radius: 20px;
}

@media screen and (max-width: 412px) {
    .header{
        width:300px;
    }
}