
.app-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.questions-pane{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:600px;
  background-color: #343963;
  border-radius: 16px;
  padding:40px;
}

@media screen and (max-width: 412px) {
  .questions-pane{
      width:300px;
  }
}